<!doctype html>
{% load staticfiles %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
      rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Parlay</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
        <header class="white landing-header col-12 text-center text-md-right ">

             <h5 class="gray"><a href = '{% url "login" %}' class="white">Войти</a> или <a href = "{% url 'signup' %}" class="white">зарегистрироваться</a> </h5>
        </header>
        <div class="bogo-box col-12">
            <h1 class="white"><span class="sogo"><i class="ion-ios-book-outline"></i> Parlay  &mdash;</span>   <br>  сервис для пари по книгам
            </h1>
            <p class="bogo text-center"> Parlay </p>

        </div>

        <div class=" landing-main col-12">
            <div class="row">

                <div class="col-1"></div>
                <div class=" landing-card col-10 bg-white">
                    <div class="row col-12 d-flex align-items-center">
                        <div class="col-12 col-md-6 mb-4 mb-md-0 d-flex flex-column align-items-center">
                            <img class="landing-img" src="{% static 'img/main.png' %} ">
                        </div>
                        <div class="col-12 col-md-6 mb-4 mb-md-0 d-flex flex-column align-items-center">
                            <img class="landing-img" src="{% static 'img/search-books.png' %} ">
                        </div>
                        <div class="col-12">
                            <h1 class="navy text-center"> Книги </h1>
                            <h2> Просматривайте доступные на сайте книги в библиотеке на главной странице, либо же найдите
                                определнные книги по имени автора или названию книги. </h2>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-1 "></div>
                <div class=" landing-card col-10 bg-white">
                    <div class="col-12 d-flex flex-column align-items-center"> <img class="landing-img" src="{% static 'img/adder.PNG' %} ">
                                                        <img class="landing-img" src="{% static 'img/adder1.PNG' %} "></div>
                    <div class="col-12 ">
                        <h1 class="navy text-center"> Нет нужной книги?</h1>
                        <h2> Если книги нет на сайте, то вы можете добавить ее с ЛитРеса, получив при этом небольшую награду в ридах. </h2></div>



                </div>
            </div>
            <br>

            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="landing-card col-10 bg-white">
                    <div class="row">
                        <div class="row col-12 d-flex align-items-center">
                            <div class="col-12 col-md-6 mb-4 mb-md-0 d-flex flex-column align-items-center">
                                <img class="landing-img" src="{% static 'img/search-friends.png' %}">
                            </div>
                            <div class="col-12 col-md-6 mb-4 mb-md-0 d-flex flex-column align-items-center">
                                <img class="landing-img" src="{% static 'img/profile.png' %}">
                            </div>
                        </div>

                        <div class="col-12">
                            <h1 class="navy text-center"> Друзья. Профиль </h1>
                            <h2>  Находите ваших друзей с помощью поиска. Списсок добавленных друзей и прочитанных книг вы сможете посмотреть в своем профиле. </h2>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-1 "></div>
                <div class=" landing-card col-10   bg-white">
                    <div class="row d-flex flex-column align-items-center">
                        <h1 class="navy text-center col-12"> Пари </h1>
                        <div class="col-12">
                            <h3> ​
                                Предложите пари своему другу по любой из прочитанных вами книг. Задайте ставку, срок и отправьте.
                            </h3>
                            <h3>
                                Если же одна из сторон будет не удовлетворена условиями, их можно изменить.
                            </h3>
                            <h3 class="text-center"> Подробнее: </h3>
                        </div>
                        <div class="col-10 col-md-12 row bg-white toggler mb-6">
                            <div class="col-12 col-md-6  btn btn-outline-secondary send-toggle" style="white-space: normal;"> <h5 class=" text-center">Я хочу заключить пари</h5> </div>
                            <div class="col-12 col-md-6  btn btn-outline-secondary   receive-toggle" style="white-space: normal;"> <h5 class="text-center"> Мне предложили пари</h5> </div>
                        </div>

                        <div class="col-12 sender text-center">
                            <h2> 1. Добавьте пари: </h2>
                            <img class="landing-img" src="{% static 'img/add-wager.png' %} ">
                            <hr>
                            <h2> 2. Если пари принято, напишите вопросы: </h2>
                            <img class="landing-img" src="{% static 'img/add-questions.png' %} ">
                            <hr>
                            <h2> 3. Проверьте вопросы: </h2>
                            <img class="landing-img" src="{% static 'img/check-questions.PNG' %} ">
                            <hr>
                            <h2> Пари закончено! </h2>
                        </div>
                        <div class="col-12 receiver text-center">

                            <h2> 1. Примите спор или измените ставку и время, отведенное на чтение: </h2>
                            <img class="landing-img" src="{% static 'img/wager-options.png' %} ">
                            <hr>
                            <h2> 2. Прочитайте книгу</h2>
                            <img class="landing-img" src="https://media.giphy.com/media/im6TyTNQ4AuOc/giphy.gif">
                            <hr>
                            <h2> 3. Ответьте на вопросы: </h2>
                            <img class="landing-img" src="{% static 'img/answer-questions.png' %} ">
                            <hr>
                            <h2> Пари закончено! </h2>
                        </div>
                    </div>


                </div>

            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-1"></div>
                <div class="landing-card col-10 bg-white  text-center" style="min-height: 50px;">


                             <a href = '{% url "login" %}' class="signin-sugg white">Войти</a>
                             <a href = "{% url 'signup' %}" class="signup-sugg white">Зарегистрироваться</a>




                </div>
            </div>


        </div>
        <div class="col-2">

        </div>
        <br>
        <br>
        <br>
        <script>
            $(".receiver").hide();
            $(".send-toggle").addClass("disabled");
            $(".send-toggle").click(function(){
                $(".send-toggle").addClass("disabled");
                $(".receive-toggle").removeClass("disabled");
                $(".receiver").slideUp();
                $(".sender").slideDown();
            });
            $(".receive-toggle").click(function(){
                $(".send-toggle").removeClass("disabled");
                $(".receive-toggle").addClass("disabled");
                $(".sender").slideUp();
                $(".receiver").slideDown();

            });
        </script>
</body>
</html>
