{% extends 'par/base.html' %}
{% load staticfiles %}
{% block title %} Вопросы {% endblock %}

{% block content %}
<div class="card text-center">
    <div class="row col-12">
        <div class="col-8">
            <div class="row d-flex flex-column">
                {% for question in questions %}
                    <h4>Question: {{question.question}} </h4>
                    {% if question.answer %}
                        <h5>Answer: {% if question.answer != 'your answer' %}{{question.answer }}{% else %} нет ответа{% endif %}</h5>
                    {% endif %}
                    {{ question.correct }}
                    <p> ----------------------------------- </p>
                {% endfor %}

            </div>
        </div>

    </div>

</div>

{% endblock %}