{% extends 'par/base.html' %}
{% load staticfiles %}

{% block title %} Add book {% endblock %}

{% block content %}
            <form class="form-group card" method="post">
                {% csrf_token %}
                <h4>За каждую новую добавленную книгу вы получите 5 <i class="fas fa-circle-notch"></i></h4>
                <div class=" container-fluid d-flex flex-column align-items-center select-group ">
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                {% endfor %}
                <br>
                <button type = "submit" class = "save button btn col-3 bg-teal white">Add</button>
                </div>
            </form>



{% endblock %}