{% extends 'par/base.html' %}
{% load staticfiles %}
{% block title %} Проверить вопросы {% endblock %}

{% block content %}
<div class="card text-center">

        <form method="POST" class="col-12">

            {% csrf_token %}
            {{ formset.management_form }}

                {% for question,form in formsets %}
                    <div class="row col-12">
                        <div class="col-8 text-center">
                           <h4> Вопрос: {{ question.question }} </h4>
                           <h5> Ответ: {{ question.answer }} </h5>
                        </div>
                        <div class="col-4">
                            {% for field in form %}
                                {{ field }}
                            {% endfor %}
                        </div>
                    </div>
                    <hr>

                {% endfor %}

            <button type="submit" class="save button btn btn-block bg-teal white">Отправить</button>
        </form>






</div>

{% endblock %}