{% extends 'par/base.html' %}
{% load staticfiles %}

{% block title %} Edit profile {% endblock %}

{% block content %}
<br>
    <div class="container-fluid card text-center">
        <form method="POST" enctype="multipart/form-data" class="container-fluid post-form form-group d-flex justify-content-center flex-column align-items-center">
           {% csrf_token %}
            {% for field in form %}

            {{ field.label_tag }}
            {{ field }}
            <br>


         {% endfor %}
            <button type="submit" class="save button btn btn-block bg-teal white">Сохранить</button>
       </form>
    </div>


{% endblock %}
