{% extends 'par/base.html' %}
{% load staticfiles %}
{% block title %} Parlay {% endblock %}
{% block content %}


        <div class="row  justify-content-center">
                {% for book in books %}
                <a href ="{% url 'detail-book' book.id %}" class="black col-lg-3 col-md-4 col-sm-6 col-xs-6 d-flex-inline justify-content-center align-items-center content-col content">
                    <div class="">


                        <br>
                        <h2 class = "title text-center"> {{ book.title|truncatewords:5}} </h2>
                        <div class="col-12  d-flex justify-content-center align-items-center">
                           <img src="{{book.cover_url}}" class="book-cover" alt="{{ book.name }}">
                       </div>
                        <h3 class = "author text-center"> {{ book.author}}</h3>

                        <br>
                    <!--    <div class="btn-block btn detail-button white bg-teal">Learn More </div> -->

                    </div>
                </a>
                {% endfor %}

        </div>
        <div class="pagination card text-center lead">
            <span class="step-links">
                {% if books.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    &nbsp;
                    &nbsp;
                    <a href="?page={{ books.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ books.number }} of {{ books.paginator.num_pages }}.
                </span>

                {% if books.has_next %}
                    <a href="?page={{ books.next_page_number }}">next</a>
                    &nbsp;
                    &nbsp;
                    <a href="?page={{ books.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>


{% endblock %}
