{% extends 'par/base.html' %}
{% load staticfiles %}
{% block title %} {{username.username}}'s profile {% endblock %}
{% block content %}
    <br>

    <div class="card d-flex text-center">
        <div class="row col-12">
            <div class="col-12 col-md-4  ">
                {% if username.profile.avatar %}
                <div class="col-12">
                    <img src="{{username.profile.avatar.url }}" class="avatar">
                </div>
                <br>
                {% else %}
                    <div class="col-12 container-fluid text-center">

                         <h1 class=" default-avatar"><i class="far fa-smile"></i></h1>
                    </div>

                {% endif %}
                {% if user.id == username.id %}


                    <a class="button col-12 btn  bg-teal white " href="{% url 'edit-profile' user_id=user.id %}">  <i class="fas fa-pencil-alt"></i>  Edit  </a>

                {% else %}
                    {% if username in user.profile.friends.all %}
                        <a class="btn btn-outline-danger remove-friend bg-red white" href="{% url 'remove-friend' user_id=username.id %}"> Remove friend </a>
                    {% else %}
                        <a class="btn btn-outline-success add-friend bg-green white" href="{% url 'add-friend' user_id=username.id %}"> Add friend </a>

                    {% endif %}
                {% endif %}
            </div>
            <div class="col-12 col-md-8">
                <H1 id = "username" class="display-4">{{ username.username }}</H1>
        {% if user.id == username.id %}
            <h3 > {{username.profile.tokens}} <small> tokens </small></h3>
            <h4 >{{username.profile.bio}}</h4>


        {% endif %}

            </div>
        </div>


    </div>
    <br>
    <div class="card">
        {% if username.profile.books_read.count %}
            <h4 class="display-4 text-center"> Books read:</h4>
            <br>
            <div class="row ">
                {% for book in username.profile.books_read.all|slice:":4" %}
                <div class="col-12 col-md-6 col-lg-3 mt-4 pd-4">
                        <a href="{% url 'detail-book' book_id=book.id %}" class="black">
                            <div class="container-fluid text-center profile-list-book bg-white ">

                                <h4> {{ book.title|truncatewords:8 }}</h4>
                                 <div class="col-12  d-flex justify-content-center align-items-center">
                                    <img src="{{book.cover_url}}" class="book-cover" alt="{{ book.name }}">
                                </div>
                                <p> {{ book.author }}</p>

                            </div>

                        </a>
                </div>
                <br>
                {% endfor %}
            </div>
            <br>
            <div class="row ">
                    <a href="{% url 'books-list' user_id=username.id %}" class="col-12 more-button btn container-fluid bg-silver black">View all </a>

                </div>
        {% else %}
            <h4 class="lead text-center"> This user haven't read any books yet :(</h4>
        {% endif %}

    </div>
    <br>
    <div class="card">
        {% if username.profile.friends.count %}
            <h4 class="display-4 text-center"> Friends:</h4>
            <br>
            <div class="container-fluid  col-12 ">

                {% for friend in username.profile.friends.all %}
                <div class="row">

                        <div class="col-12  profile-list bg-white text-center">
                           <h4> <a href="{% url 'profile' user_id=friend.id %}"> {{ friend.username|truncatewords:8 }}</a></h4>

                        </div>

                </div>
                <br>
                {% endfor %}



            </div>
            <br>
            <div class="row   text-center">
                           <a href="{% url 'friends-list' user_id=username.id %}"
                                  class=" col-12 more-button  btn container-fluid bg-silver black">View all </a>

                </div>
        {% else %}
            <h4 class="display-4"> This user has no friends :(</h4>
        {% endif %}
    </div>
    <br>
    <div class="add-books card  text-center gray">
        <p class="lead"> Не можете найти книгу на сайте и хотите ее добавить? <a href="{% url 'add-book' %}" class="black">Добавьте её с ЛитРеса!  </a></p>

    </div>






{% endblock %}
