{% extends 'par/base.html' %}
{% load staticfiles %}
{% block title %} Register {% endblock %}

{% block content %}
<div id = "" class ="container-fluid  ">
  <h2 align="center">Sign up</h2>
  <style> .navigation{ display:none;}
            body{

            }
            #container {background: rgba(255,255,255,0.8);
            position: absolute;
            top: 15%;
            height: 70%;
            width:100%;
            left:0;
            padding-top: 1%;
            padding-bottom:1%;

            box-shadow: 0 0 100px 15px #888;
            }

            .footer{position:absolute;
            bottom: 5%;}

  </style>
  <form method="post">

    {% csrf_token %}
     <div class="form-group d-flex flex-column justify-content-center align-items-center signup">
        {% for field in form %}

            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}

            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
         <br>
         <button type="submit" class="button-small btn bg-teal white ">Sign up <i class="fas fa-arrow-right"></i></button>
    </div>
  </form>

</div>

{% endblock %}