{% extends 'par/base.html' %}
{% load staticfiles %}

{% block title %} {{ username.username }}'s books {% endblock %}

{% block content %}

    <br>
    <div class="card">
        <h3 class="display-4 text-center"> {{username.username}}'s books: </h3>
    </div>

        <br> <br>

        {% for book in username.profile.books_read.all %}

        <div class="card bg-white text-center">

            <a href="{% url 'detail-book' book_id=book.id %}" class="display-4  black">{{ book.title }}</a>
            <p class="lead text-center">{{book.author}}</p>

        </div>
            <br>
        {% endfor %}


{% endblock %}