{% extends 'par/base.html' %}
{% load staticfiles %}
{% block title %} {{book.title|truncatewords:3}} | Parlay {% endblock %}
{% block content %}


        <br>
        <div class ="row container-fluid">
                <div class="col-12 col-md-10">
                        <h1> {{book.title}} </h1>
                </div>

        </div>
        <div class="row container-fluid">
                <div class = "col-12 col-md-10 container-fluid">
                      <h3> {{book.author}} </h3>
                </div>
                <div class="col-12 col-md-2 container-fluid  add-book">
                        {% if user.is_authenticated %}
                                {% if book in user.profile.books_read.all %}
                                    <p class="text-muted"> You have that book in list!</p>
                                {% else %}
                                    <a class="btn btn-primary bg-aqua white btn-block " href="{% url 'add-book' book_id=book.id  %}">  Add book </a>
                                {% endif %}
                    {% endif %}
                </div>
        </div>
        <br>
        <div class="row container-fluid">
                <div class = "col-12">
                      <p class="description_text lead"> {{book.description}}</p>
                </div>

        </div>




{% endblock %}
