{% extends 'par/base.html' %}
{% load staticfiles %}

{% block title %} Edit profile {% endblock %}

{% block content %}
<br>
    <div class="container-fluid">
        <form method="POST" class="post-form form-group">{% csrf_token %}
            <textarea type="text"  name="{{ form.bio.name }}" value="{{ form.bio.value }}" class = "form-control" rows="10">{{ user.profile.bio}}</textarea>
            <br>
            <button type="submit" class="save btn btn-outline-primary btn-block">Save</button>
       </form>
    </div>


{% endblock %}