{% extends 'par/base.html' %}
{% load staticfiles %}
{% block title %} Parlay {% endblock %}
{% block content %}


        <div class="row  justify-content-center">
                {% for book in books %}

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 content-col content">
                        <img src="{% static 'img/agenda.png' %}" class="type"/>
                        <h2 class = "title"> {{ book.title|truncatewords:5}} </h2>
                        <br>
                        <h3 class = "author"> {{ book.author}}</h3>
                        <p class = "description"> {{ book.description|truncatewords:20}}</p>
                         <a href ="{% url 'detail-book' book.id %}"> <div class="col details">Learn More </div> </a>
                    </div>

                {% endfor %}

        </div>
            <p> {{user.username}}</p>
            <hr>
            <p> {{user.email}}</p>
            <hr>
            <p> {{user.token.tokens}} tokens</p>
            <hr>

</form>
{% endblock %}
