{% extends 'par/base.html' %}
{% load staticfiles %}
{% block title %} {{user.username}}'s wagers {% endblock %}

{% block content %}
    <br>
    <hr>
    {% for wager in wagers %}
        <div class = "row">
            <div class = "test-cont container-fluid col-10">
                <h4>
                  Book: <a href="{% url 'detail-book' book_id=wager.book.id %}">{{ wager.book }}</a>
                </h4>

                <p> From: <a href = "{% url 'profile' user_id=wager.sender.id %}">{{ wager.sender }}</a> </p>
                <p> To: <a href = "{% url 'profile' user_id=wager.to.id %}">{{ wager.to }}</a> </p>
            </div>
            <div class = "col">
                {% if user.username == wager.sender.username %}
                    <p>You sent this!</p>
                {% else %}
                    <p>You got this!</p>
                    <br>
                    {% if wager.status == 'true' %}
                        <p> You accepted this wager!</p>
                    {% elif wager.status == 'false' %}
                        <p> You declined this wager!</p>
                     {% else %}
                        <a href="{% url 'accept-wager' wager_id=wager.id  %}" class="btn btn-outline-success">Accept</a>
                     or <a href="{% url 'decline-wager' wager_id=wager.id  %}" class="btn btn-outline-danger">Decline</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    <hr>
    {% endfor %}
{% endblock %}