{% extends 'par/base.html' %}
{% load staticfiles %}
{% block title %} {{user.username}}'s wagers {% endblock %}

{% block content %}
    <br>
    <hr>
{% if wagers %}
    {% for wager in wagers %}
        <div class = "row card">
            <div class = "test-cont container-fluid col-10">
                <h4>
                  Book: <a href="{% url 'detail-book' book_id=wager.book.id %}" class="info-anchors">{{ wager.book }}</a>
                </h4>

                <p class="lead"> From: <a href = "{% url 'profile' user_id=wager.sender.id %}" class="info-anchors">{{ wager.sender }}</a> </p>
                <p class="lead"> To: <a href = "{% url 'profile' user_id=wager.to.id %}" class="info-anchors">{{ wager.to }}</a> </p>
                <p class="lead"> Duration: {{wager.duration}}</p>
            </div>
            <div class = "row d-flex justify-content-center">
                {% if user.username == wager.sender.username %}
                    {% if wager.status == 'true' %}
                        <p class="lead">Wager is accepted!</p>
                    {% elif wager.status == 'false' %}
                        <p class="lead">Wager is declined. <a href="{% url 'end-wager' wager_id=wager.id %}" class="btn btn-outline-success">Remove?</a></p>
                     {% else %}
                         <p class="lead">Receiver didn't checked it yet :(</p>

                    {% endif %}
                {% else %}

                    <br>
                    {% if wager.status == 'true' %}
                        <a href="{% url 'end-wager' wager_id=wager.id %}" class="btn btn-outline-success">End wager</a>
                    {% elif wager.status == 'false' %}
                        <p>You declined this wager. <a href="{% url 'end-wager' wager_id=wager.id %}" class="btn btn-outline-success">Remove?</a> </p>
                     {% else %}
                   <p> <a href="{% url 'accept-wager' wager_id=wager.id  %}" class="btn btn-outline-success">Accept</a>
                       or <a href="{% url 'decline-wager' wager_id=wager.id  %}" class="btn btn-outline-danger">Decline</a> </p>

                    {% endif %}
                {% endif %}
            </div>
        </div>
    <hr>
    {% endfor %}
{% else %}
    <div class="card">
            <h4 class="display-4 gray"> You have no wagers. <a href = "{% url 'add-wager' %}" class="black">Want to add some?</a></h4>

    </div>
{% endif %}
{% endblock %}