
body{
    height:100%;
    width:100%;

}
.navbar-header{
    color: #000;
}
input[type=text], input[type=email], input[type=password]{
                width:75%;
                max-width: 250px;
                border: 1px solid #888;
                border-radius: 25px;

                padding-left: 1%;
                padding-right:1%;
            }
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus{
                box-shadow: 0 0 20px 8px #ccf;
                transition: all 0.25s ease;
                border-radius: 25px;
                 outline: none;
}
select {
    width:100%;
    max-width: 750px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.15);
}
.button{
    width:75%;
    max-width:750px;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.25);
}
.button:hover{
    background: #0074D9;
    transition: all 0.25s ease;
    color: white;
}
.select-group label{
    font-size: 1.5em;
    text-align:center;
}
.textarea{
    width: 75%;
    max-width: 750px;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.15);
    border-radius: 2px;
}
.logo{
    position:relative;
    width:45%;

}
.profile-list{

    box-shadow: 0 0 3px 1px #aaa inset;
    padding: 1%;
    margin:0;
}
.profile-list a{
    color: black;
}
a:hover{
    text-decoration: none;
    color: #444;
    transition: all 0.25s ease;
}
.description_text{
    text-indent: 10px;
}
.container{
    background-color:#f00;
    border:
}
#container{
    position:absolute; top: 10%; width:100%;
}

.content-col{
    margin:2%;
    text-align: left;
    padding:1%;
    position:relative;
    min-height: 30%;
}

.col{

    text-align: center;
}
.profile{
    text-align:right;
    display:flex;
    align-items: center;
    justify-content: center;
}
.profile h1,p{
    margin: 0;

}
#profile-pic, .fa-caret-down{
    width: 25%;
    float: right;
    position:relative;
    top: 10%;
}
#profile-pic{
    left: 15%;
    border-radius: 100%;
}
.fa-caret-down{
    top: 35%;
    padding-left: 1%;

}
.navigation{
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.35);
}
.navigation a{
    color: white;
}
.type{
    position: relative;
    float:right;
    top: 10px;
    right: 1%;
    width:10%;
}
.description{
    margin-bottom: 10%;
}
.detail-button{
    position:absolute;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.25);
    bottom: 0;
    left: 0;
    text-decoration: none;
}
.detail-button:hover{

    text-decoration: none;
    background: #0074D9;
    transition: all 0.25s ease;
}
#title{
    text-align: center;
}
